<% var sorted_users = users.sort((a, b) => parseInt(b.pointss) - parseInt(a.pointss)); %>
<% var highscores = sorted_users.slice(0, 5); %>

<!-- include header -->
<%- include('include/_header') %>

    <section id="highscore-section">
        <div class="container text-center" id="highscore">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center" id="highscore-menu">
                    <table class="table my-5">
                        <thead>
                            
                            <tr>
                                <th class="display-3">#</th>
                                <th class="display-3">Username</th>
                                <th class="display-3">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <% if (users.length < 5) { %>
                                <% for(var i=0; i<users.length; i++) {  %>
                                    <tr>
                                        <th class="display-6"><%= i+1 %></th>
                                        <td class="display-6"><%= highscores[i].name%></td>
                                        <td class="display-6"><%= highscores[i].pointss%></td>
                                    </tr>
                                    <% } %>

                              <% } else { %>
                                <% for(var i=0; i<5; i++) {  %>
                                    <tr>
                                        <th class="display-6"><%= i+1 %></th>
                                        <td class="display-6"><%= highscores[i].name%></td>
                                        <td class="display-6"><%= highscores[i].pointss%></td>
                                    </tr>
                                    <% } %>
                              <% } %>
                       
                        </tbody>
                    </table>
                    <a href="/" class="display-2 menu-a">Return</a>
                </div>
            </div>
        </div>
        <%- include('include/_audio') %>
    </section>

    <!-- include footer -->
    <%- include('include/_footer') %>